.file-input {
    display: none;
  }

.input-frame{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.image-field{
  width: 100%;
  height: fit-content;
}

.dropzone{
  width: 100%;
  height: 400px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone button{
  background-color: skyblue;
  width: 120px;
  text-align: center;
}

.dropzone *{
  margin: 10px;
}
