<!-- <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "Upload original image"}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>

<input type="file" class="file-input"
       (change)="onWatermarkSelected($event)" #watermarkUpload>

<div class="watermark-upload">

    {{watermarkName || "Upload watermark"}}
 
     <button mat-mini-fab color="primary" class="upload-btn"
       (click)="watermarkUpload.click()">
         <mat-icon>attach_file</mat-icon>
     </button>
 </div> -->

 <!-- <button (click)="onUploadClicked()"> upload </button> -->
 <h2> Encoder </h2>
<div class="input-frame">
  <div class="image-field">
    <div class="dropzone" appDropFile *ngIf="!fileurl" (imageUploaded)="imageBrowseHandler($event)">
      <input type="file" #fileUpload class="file-input" multiple (change)="imageBrowseHandler($event.target)">
      <h3>Drag and drop image here</h3>
      <h3>or</h3>
      <div>
        <button mat-raised-button (click)="fileUpload.click()">Upload</button>
        <button mat-raised-button [disabled]="!isLogin" (click)="openAlbum('original')">Browse Album</button>
      </div>
    </div>
    <img *ngIf="fileurl" [srcset]="fileurl | srcAuth | async">
    <label>Original Image</label>
    <button *ngIf="fileurl" mat-icon-button class="cancel-btn" (click)="onImageCancelBtnClicked()">X</button>
  </div>
  <div class="image-field">
    <div class="dropzone" appDropFile *ngIf="!watermarkurl" (imageUploaded)="watermarkBrowseHandler($event)">
      <input type="file" #wmUpload class="file-input" multiple (change)="watermarkBrowseHandler($event.target)">
      <h3>Drag and drop signature here</h3>
      <h3>or</h3>
      <div>
        <button mat-raised-button (click)="wmUpload.click()">Upload</button>
        <button mat-raised-button [disabled]="!isLogin" (click)="openAlbum('wm')">Browse Album</button>
      </div>
    </div>
    <img *ngIf="watermarkurl" [srcset]="watermarkurl | srcAuth | async">
    <label>Watermark</label>
    <button *ngIf="watermarkurl" mat-icon-button class="cancel-btn" (click)="onWMCancelBtnClicked()">X</button>
  </div>
</div>
<button mat-raised-button class="encode-btn" (click)="onEncodeBtnClicked()">Encode</button>
<span class="warning"> {{ warning }} </span>
<div class="output-frame">
  <label>Encoded Image</label>
  <img *ngIf="encodedImg" [srcset]="encodedImgUrl">
</div>
