<!-- <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "Upload original image"}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>

<input type="file" class="file-input"
       (change)="onWatermarkSelected($event)" #watermarkUpload>

<div class="watermark-upload">

    {{watermarkName || "Upload watermark"}}
 
     <button mat-mini-fab color="primary" class="upload-btn"
       (click)="watermarkUpload.click()">
         <mat-icon>attach_file</mat-icon>
     </button>
 </div> -->

 <!-- <button (click)="onUploadClicked()"> upload </button> -->
<div class="input-frame">
  <div class="image-field">
    <div class="dropzone" appDropFile *ngIf="!file">
      <input type="file" #fileUpload class="file-input" multiple (change)="imageBrowseHandler($event.target)">
      <h3>Drag and drop image here</h3>
      <h3>or</h3>
      <button mat-button (click)="fileUpload.click()">Browse here</button>
    </div>
    <img *ngIf="fileurl" [srcset]="fileurl">
  </div>
  <div class="image-field">
    <div class="dropzone" appDropFile *ngIf="!watermark">
      <input type="file" #wmUpload class="file-input" multiple (change)="watermarkBrowseHandler($event.target)">
      <h3>Drag and drop image here</h3>
      <h3>or</h3>
      <button mat-button (click)="wmUpload.click()">Browse here</button>
    </div>
    <img *ngIf="watermarkurl" [srcset]="watermarkurl">
  </div>
</div>
<div class="output-frame"></div>
