.btns{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btns button{
    margin: 5px;
}

.encode-btn{
    background-color: skyblue;
}

.decode-btn{
    background-color: rosybrown;
}

.delete-btn{
    margin: 10px;
}